table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #1D3557;
    background-color: #f4f9f3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #4caf50;
    color: #eee;
    font-weight: bold;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #78818B;
  }
  
  /* th {
    background-color: #457B9D;
    color: white;
  } */
  
  /* tr:hover {
    background-color: #A8DADC;
  } */
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }
    
    th, td {
      padding: 6px;
    }
  }

  .edit-icon, .delete-icon {
    cursor: pointer;
    margin-right: 8px;
    color: #4caf50;
  }
  
  .edit-icon:hover, .delete-icon:hover {
    color: #232732;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eeeeee;
  }
  
  tbody tr:hover {
    background-color: #ffffff;
  }
  
  table caption {
    color: #232732;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
  }
