table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #1D3557;
    background-color: #f4f9f3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #457B9D;
    color: white;
  }
  
  tr:hover {
    background-color: #A8DADC;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    table {
      font-size: 14px;
    }
    
    th, td {
      padding: 6px;
    }
  }

  .edit-icon {
    color: #FFA400
}

.delete-icon {
    color: red;
    padding: auto
}
  